body {
	overflow-x: hidden;
    margin-top: -9px;
	background-color: #444444;
}


#header {
	height: 50px;
    position: fixed;
    width: 100%;
    z-index: 13;
    box-shadow: 0 1px 0 #333333;
	background-color: #333333;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#222222));
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #222222 100%);
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: -ms-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: -o-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: linear-gradient(top, #3F3F3F 0%, #222222 100%);
    border-bottom: 1px solid #555555;
}

.headerContainer {
	position: absolute;
}

#riklrTitle {
	text-align: center;
	z-index: 20;
}

#riklrTitle > img {
	margin-top: 6px;
	max-height: 35px;
	position: absolute;	
}

.iconSettings {
	margin-top: 10px;
	margin-right: 10px; 
	position: absolute;
}

.notifNumber {
	margin-top: -20px;
	margin-left: 20px; 
}


#filterbar {
	position: absolute;
	margin-top: 60px;
	margin-right: 5px;
	margin-left: 100px;
	width: 100%;
	height:45px;
	background-color: #e2e2e2;
	background-image: -moz-linear-gradient(top, #eeeeee, #e2e2e2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #eeeeee, #e2e2e2);
	background-image: -o-linear-gradient(top, #eeeeee, #e2e2e2);
	background-image: linear-gradient(to bottom, #eeeeee, #e2e2e2);
	background-repeat: repeat-x;
	text-shadow:0 1px 0 rgba(255,255,255,0.6);
	border-bottom:1px solid #c1c1c1;
	z-index: 10;
}

#sidebar {
    display: block;
    float: left;
    position: fixed;
    width: 0px;
    z-index: 16;
    padding-top: 60px;
}

#sidebar > ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	position: absolute;
	width: 100px;
	border-top: 1px solid #393939;
	border-bottom: 1px solid #4E4E4E;
}

#sidebar > ul > li {
	line-height: 40px;
	display: block;	
	position: relative;
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;
	text-align: center;
}

#sidebar > ul > li.active {
    background-color: #3a3a3a;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#2A2A2A));
	background-image: -webkit-linear-gradient(top, #333333 0%, #2A2A2A 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #2A2A2A 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #2A2A2A 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #2A2A2A 100%);
	background-image: linear-gradient(top, #333333 0%, #2A2A2A 100%);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > ul > li.active > a > span {
	color: #CDCDCD;	
	font-weight: bold;
	width: 100px;
}

#sidebar > ul > li > a {
	text-decoration: none;
	padding: 10px 0px 0px 0px;
	display: block;
	color: #AAAAAA;

}

#sidebar > ul > li.active > a {
	background: url("../img/pointer2.png") no-repeat scroll right center transparent !important;
}

#sidebar > ul > li > a > i {
	margin-right: 10px;
	vertical-align: top;
	display: inline-block;
	width: 14px;
	height: 14px;
}

#sidebar > ul > li > a > img {
	margin-right: 0px;
	vertical-align: top;
	display: inline-block;
	width: 70px;
	max-height: 70px;
}

#sidebar > ul > li > a > img.profile {
	padding: 3px;
	background-color: #1D1D1D;
	/*-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	box-shadow: -5px 5px 10px 	black;*/
	margin-right: 0px;
	vertical-align: top;
	display: inline-block;
	width: 70px;
	height: 70px;
}


#mainframe {
	background: none repeat scroll 0 0 #ECECEC;
    margin-left: 100px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    position: relative;
    min-height: 1000px;
    width: auto;
    height: auto !important;
    -webkit-background-clip: padding-box;
    border-top-left-radius: 8px;
    z-index: 1;
}


#mainframe > div > div {
	margin-top: 60px;
	text-align: center;
	position: relative;
    width: auto;
    height: auto !important;    
}

#mainframe
.picturesqq  {
	
	position: relative;	
	padding-right: 10px;
	width: 190px;
	height: 190px;
	margin-left: 0px;
	margin-bottom: 20px;
     
}


.thumbnail  {	
	text-decoration: none;
	border: 0px;
}


.imag {
	-moz-box-shadow: 0px 0px 5px 3px #cce6ff;
	-webkit-box-shadow: 0px 0px 5px 3px #cce6ff ;
	box-shadow: 0px 0px 5px 3px #cce6ff ;
	z-index: -5;

}

.imag:hover {
	-moz-box-shadow: 0px 0px 7px 8px #cce6ff;
	-webkit-box-shadow: 0px 0px 7px 8px #cce6ff ;
	box-shadow: 0px 0px 7px 8px #cce6ff ;
	border: 1px solid black;
	
}

.corner {
	
}

.cornerImage {	
	position: absolute;
	z-index: 5;
	padding-left: 130px;
	margin-top: -11px;
}

.nameBox {
	background: #000;
	background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .7)));
	background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
	bottom: 0;	
	color: #fff;
	display: block;
	left: 10;
	margin-bottom: 13px;
	margin-top: 0px;
	padding-top: 0px;
	position: absolute;
	width: 60.6%;
	word-wrap:break-word;	
	text-align: left;
}

.nameBox2 {
	background: #000;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .7)));
	background: -webkit-linear-gradient(rgb	a(0, 0, 0, .7)	, rgba(0, 0, 0, .4));
	bottom: 0;	
	color: #fff;
	display: block;
	left: 10;
	margin-bottom: 13px;
	margin-top: 0px;
	padding-top: 0px;
	position: absolute;
	width: 60.6%;
	word-wrap:break-word;	
	text-align: left;
}



.name {
	margin-left: 2px;
}

.starBox {
	background: #000;
	background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .7)));
	background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
	bottom: 0;	
	color: #fff;
	display: block;
	margin-left: 115px;
	margin-bottom: 13px;
	margin-top: 0px;
	padding-top: 0px;
	position: absolute;
	width: 30%;
	word-wrap:break-word;	
	text-align: right;
}

.starBox2 {
	background: #000;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .7)));
	background: -webkit-linear-gradient(rgb	a(0, 0, 0, .7)	, rgba(0, 0, 0, .4));
	bottom: 0;	
	color: #fff;
	display: block;
	margin-left: 115px;
	margin-bottom: 13px;
	margin-top: 0px;
	padding-top: 0px;
	position: absolute;
	width: 30%;
	word-wrap:break-word;	
	text-align: right;
}

.stars {
	text-align: right;
	margin-right: 2px;
}

.dateBox {
	background: #000;
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .7)));
	background: -webkit-linear-gradient(rgba(0, 0, 0, .7) , rgba(0, 0, 0, .4) );
	top: 0;	
	color: #fff;
	display: block;
	left: 10;
	margin-top: 4px;
	padding-top: 0px;
	margin-left: 0px;
	position: absolute;
	width: 90.5%;
	word-wrap:break-word;	
	text-align: center;
	font-size: 17px;
	border:1px solid black;
}

.dateText {
	margin-left: 2px;
}


 
.modal {
	background-color: #2A2A2A;
	min-height: 500px;
	min-width: 750px;
}

.modalHomeHeader {
	border-bottom: 0px;
	background-color: #121212;	
}

.modalHomeFooter {
	border-top: 0px;
	background-color: #121212;	
	-moz-box-shadow: 0px -5px 5px #000 ;
	-webkit-box-shadow: 0px -5px 5px #000 ;
	box-shadow: 0px -5px 5px #000 ; 
	z-index: 10;
}

.modalHeadText {
	color:#898989;
	font-size: 23px;
}

.pre-scrollable {
	max-height: 100px;
}

.knowMore {
	-moz-box-shadow: 0px 5px 5px #000 ;
	-webkit-box-shadow: 0px 5px 5px #000 ;
	box-shadow: 0px 5px 5px #000 ; 
	z-index: 10;
}

.knowMoreText {
	color: #CCCCCC;
	margin-left: 5px;
}

.smallThumb {
	margin-left: 0px;
	max-width: 70px;
	margin-right: 5px;
	margin-bottom: 2px;	
}

.smallImage {
	border: 2px solid black;
	position: relative;
	z-index: -5;
}

.mutualFriendsImages {
	margin-top: 0px;

}

.thumbnails {
	margin-top: 0px;
}

.mutualFriends {
	color: #CCCCCC;
	font-size: 15px;
	
}

.imageGallery {
	min-height: 300px;
}

.mainImage {
	max-height: 300px;
	max-width: 300px;
	-moz-box-shadow: 5px 5px 15px 5px #000;
	-webkit-box-shadow: 5px 5px 15px 5px #000 ;
	box-shadow: 5px 5px 15px 5px #000 ;
}

.sideImage {
	position: relative;
	max-height: 80px;
	max-width: 80px;
	margin-left: 10px;
	border: 2px solid black;
}


/*chatPage*/

.chatCover {
	margin-top: 10px;
	height: 100%;
}

.chatBody {
	left: 50%;
	margin-left: -350px;
	min-width: 700px;
	max-width: 700px;
	border: 1px solid #C0C0C0;
}

.conversation {
	
	height: 450px;
	background-color: white;
	
	overflow-y: scroll;
}

.dayLabelCSS {
	margin-bottom:15px; 
}

.textCover {
	border-top: 1px solid #C0C0C0;
	background: #DCDCE8; 
	width:99.9%; 
	padding-top:0px; 
	margin-bottom: -20px;
	background-color: #ECECEC;
	
	/*box-shadow: 0px 0px 10px #171717;*/
}

.formCover {
	padding: 10px;

}

.enterMessage {
	width: 90%;
	resize: none; 
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 0px; 
	margin: 0px auto; 
	height: 70px;
}

.enterMessageNavbar {
	margin-left: 0px; 
	margin-bottom: 0px;
	display: block;
}

.smileyButtonGroup {
	height: 40px;
}

.smileyButton {
	padding: 0px;
	margin-top: 5px;
}

.smileyIcon {
	margin-bottom: 0px;
	margin-top: 0px;
	height: 30px;
}

.replyButton {

	height: 32px;
	margin-right: 20px;
}

.leftUser {
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	z-index: 0;
}


.chatMessageLeft {
	margin-left: 72px;
	padding: 6px;
	display: block;
	background:#EFEFEF; 
	position: relative;
	border-radius: 3px;	
	max-width: 590px;
	text-align: left;
	font-size: 15px;
}

.arrowLeft {
	position: absolute;
	top:25%;
	left: -11px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #EFEFEF; 
}

.chatProfilePicThumbLeft {

	position: absolute;
	margin-left: 10px;
	left: 0;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.9);
 
}

.rightUser {
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	z-index: 0;
}

.chatProfilePicThumbRight {
	position: absolute;
	margin-right: 10px;
	right: 0;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.9);
}

.chatMessageRight {
	margin-right: 72px;
	margin-left: 10px;
	padding: 6px;
	display: block;
	background:rgb(88, 156, 168); 
	position: relative;
	border-radius: 3px;	
	text-align: right;
	font-size: 15px;
	color: white;
}

.arrowRight {
	position: absolute;
	top:25%;
	right: -11px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid rgb(88, 156, 168) ; 
}

.sticker {
	margin-left: -200px;
	max-width: 200px;
}

.coverPicture {
	background: url(../img/coverPicture.jpg) no-repeat center center;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;

	/*
	position: absolute;*/
	/*top:0;
	margin-top: 0px;
	height: 630px;
	width: inherit;*/
}

.fbLogin {
	position: absolute;
	background-image: url('../img/fblogin.png');
	background-repeat: no-repeat;
	background-size: 350px; 
	height: 68px;
	width: 350px;
	right: 0;
	margin-right: 200px;
	margin-top: 560px; 
}

.fbLogin:hover  {
	position: absolute;
	background-image: url('../img/fbloginhover.png');
	background-repeat: no-repeat;
	background-size: 350px; 
	height: 68px;
	width: 350px;
	right: 0;
	margin-right: 200px;
	margin-top: 560px; 
}

.signupText {
	position: absolute;
	right: 0;
	margin-top: 520px;
	margin-right: 380px;
	color: black;
	font-family: Lucida Sans Unicode;
	font-size: 27px;/* / 1.3 'DINLight','Helvetica Neue',Helvetica,Arial,sans-serif;*/
}


.text0 {
	position: absolute;
	right: 0;
	color:  rgb(133, 80, 120);
	margin-top: 309px;
	margin-right: 377px;
	font-family: Lucida Sans Unicode;
	font-size: 67px;
}

.text1 {
	position: absolute;
	right: 0;
	color: rgb(38, 67, 87);/*rgb(38, 67, 87)*/
	margin-top: 324px;
	margin-right: 147px;
	font-family: Lucida Sans Unicode;
	font-size: 30px;

}

.text2 {
	position: absolute;
	right: 0;

	margin-top: 380px;
	margin-right: 52px;
	color: rgb(133, 80, 120);/*rgb(2, 178, 185)*/
	width: 500px;
	line-height: 45px;
	font-family: Lucida Sans Unicode;
	font-size: 45px;

}